/**
 *	Styling for the Pagination
 */

.itsmpl-pagination {
	width: 100%;
	text-align: center;
	font-weight: 600;
	.nav-links {
		& > * {
			margin: .8em;
			color: var(--primary);
		}
		span.current {
			position: relative;
			color: lightness(white, -35%);
			font-weight: 600;
		}
	}
}
